.ql-editor.ql-blank::before {
  font-style: unset !important;
}

.ql-container.ql-snow {
  max-height: 50%;
  /* height: 50vh; */
  border: none !important;
}
.postcontent .ql-editor {
  height: 30vh;
}

.submitCreatePost .MuiFormControl-root {
  background-color: #5D67E9 !important;
  border: none;
}
.submitCreatePost .MuiFormLabel-root {
  color: white !important;
}